* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    
}


#top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

#top-nav li {
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

a:visited, a {
    color: #666;
}

a:hover {
    text-decoration: underline;
}

#top-nav {
    margin-top: 1rem;
}


ul li{
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    
}

#search-section {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    
}

img {
    margin-bottom: 1rem;
}
#search-bar {
    width: 40vw;
    padding: 0.5rem;
    border-radius: 1%;
    margin-bottom: 1rem;
    border: 1px solid #aaa;
}

#button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 1rem 2rem;
    padding: 0.5rem;
    transition: 0.1s;
    cursor: pointer;
    border: 1px solid transparent;   
    color: #666; 
    }

.button:hover {
border: 1px solid #aaa;
}


#corporate {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem; 
    font-size: 0.9rem;
    background-color: #eee;
    border: #ccc;
    
        
}

#corporate li {
    padding: 1rem 1rem;
    
}

#corporate li a {
    color: #666;
}

